<div id="index-community-background">
  <div class="container">
<!--    <h1 class="text-center display-3" id="index-community-header">DevMatch Community</h1>-->

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <ul class="list-unstyled">
          <% @users.each do |user| %>
            <% if user.profile %>
              <li class="<%=cycle "bg-white", "bg-light" %> rounded-lg">
                <div class="jumbotron-fluid">
                  <div class="row rounded-lg">
                    <div class="col-md-2">
                      <% if user.profile.avatar%>
                        <%= link_to user do %>
                          <%= image_tag user.profile.avatar, class: "rounded img-fluid", alt: "Profile image"%>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-10">
                      <%= link_to user, class: "text-decoration-none" do %>
                        <h3 class="display-4 user-name"><%=user.profile.first_name %> <%=user.profile.last_name %></h3>
                      <% end %>

                      <p class="lead"><%=user.profile.job_title %>
                        <%if user.plan_id == 2 %>
                          <span class="badge badge-success">Pro</span>
                        <%end %>
                      </p>
                      <hr class="my-2">

                      <p><%=user.profile.description %></p>
                    </div>
                  </div>
                </div>

                <hr class="my-4">
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>