<br>
<div class="container-fluid">
  <div class="col-md-10 offset-md-1">
    <div class="jumbotron">
      <div class="row bg-white rounded-lg" id="profile-head">
        <div class="col-md-4">
          <%= image_tag @user.profile.avatar, class: "rounded img-fluid", alt: "Profile image"%>
        </div>
        <div class="col-md-8">
          <h1 class="display-4"><%=@user.profile.first_name %> <%=@user.profile.last_name %></h1>
          <p class="lead"><%=@user.profile.job_title %></p>

          <hr class="my-4">
          <p><%=@user.profile.display_name%></p>
          <br>
          <p><%=@user.profile.description %></p>
        </div>
      </div>

      <br>
        <div class="row">
          <div class="col-md-6 rounded-lg no-margin" id="experiences">
            <div class="container bg-white">
              <h2>Experiences</h2>
              <hr>
            </div>
          </div>
          <!--Pro user content-->
          <% if user_signed_in? && current_user.plan_id == 2 %>
            <div class="col-md-6 rounded-lg no-margin" id="contact-info">
              <div class="container bg-white">
                <h2>Contact information</h2>
                <hr>
                <p><span class="font-weight-bold">Phone:</span> <%=@user.profile.phone_num %></p>
                <p><span class="font-weight-bold">E-mail:</span> <%=@user.profile.contact_email %></p>
              </div>
            </div>
          <% else %>
            <div class="col-md-6 rounded-lg no-margin" id="contact-info">
              <div class="container bg-white">
                <h2>Contact information</h2>
                <hr>
                <p>Get <span class="font-weight-bold">DevMatch Pro</span> to view contact information</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
