<!DOCTYPE html>
<html>
  <head>
    <title>DevMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> <!--https or http can be left off to be more flexible || https must be used when using ssl-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class='container'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "/", class: "navbar-brand" do %> <!--Best practice to rails links-->
              <i class="fas fa-users"></i>
              DevMatch
            <% end %>
          </div>

          <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="/about">About</a></li>--> <!--Links should be done with a relative path so changing its name will not break the link-->
              <li><%= link_to "About", "/about" %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>

        <%= yield %> <!--html in other files is added here with yield-->

  </body>
</html>
<!--Html here will be added to all html files-->
