<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DevMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> <!--https or http can be left off to be more flexible || https must be used when using ssl-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', type: 'text/javascript'%>
    <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-brand" do %> <!--Best practice to rails links-->
            <i class="fas fa-users"></i>
            DevMatch
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "Community", users_path, class: "nav-link" %></li>

          </ul>

          <ul class="navbar-nav">
          </ul>

          <!--Show login / sign up if user is not logged in-->
          <% if user_signed_in? %>
            <div class="dropdown">
              <button class="btn btn-secondary  dropdown-toggle navbar-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu dropdown-menu-sw mt-2 dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                <%= link_to current_user.email, user_path(id: current_user.id), class: "dropdown-item font-weight-bold" %>
                <div class="dropdown-divider"></div>

                <%if current_user.profile %> <!--If the current user has a profile-->
                  <%= link_to "Edit Profile", edit_user_profile_path(user_id: current_user.id), class: "dropdown-item" %>
                <%else %>
                  <%= link_to "Create Profile", new_user_profile_path(user_id: current_user.id), class: "dropdown-item" %>
                <%end %>
                <div class="dropdown-divider"></div>

                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn btn-sm dropdown-item' %>
              </div>
            </div>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: 'btn navbar-btn login-button-border' %>
            <%#= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary navbar-btn' %>
          <% end %>
        </div>

      </div>
    </nav>

    <div class="container-fluid" id="flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %> <!--html in other files is added here with yield-->

    <div class="d-flex">
        <ul class="list-group list-group-horizontal list-group-flush mx-auto">
          <!--<li><a href="/about">About</a></li>--> <!--Links should be done with a relative path so changing its name will not break the link-->
          <li class="list-group-item"><%= link_to "About", about_path, class: "nav-link" %></li> <!--Path is relative, url is absolute url to page-->
          <li class="list-group-item"><%= link_to "Contact", new_contact_path, class: "nav-link" %></li>
        </ul>
    </div>
  </body>
</html>
<!--Html here will be added to all html files-->
